:root {
  --circles-size: 9.3rem;
}

.faq-container {
  margin-block: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  content: '';
  position: absolute;
  top: 30%;
  left: -3%;
  height: var(--circles-size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #b5406c;
}
.circle2 {
  top: calc(100% - var(--circles-size) - 0.5rem);
  left: auto;
  right: -3%;
}
.faq-container h1 {
  font-weight: 600;
  font-size: 60px;
  margin: 0 0;
}
.faq-inner {
  margin-top: 4rem;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  width: min(1200px, 90%);
}
.faq-inner ul {
  width: 100%;
}
.faq-inner ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.7rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-container p,
.answer {
  font-size: 1.5rem;
}
.answer {
  color: rgba(0, 0, 0, 0.5);
}
.question-container button {
  font-size: 3rem;
  padding-inline: 1.4rem;
  margin: 0 0;
}
