:root {
  --main-bg-color: #b5406c;
}
.main-samples-container {
  width: min(1000px, 90%);
  position: relative;
  height: 480px;
  margin-inline: auto;
  border-radius: 12px;
  display: grid;
  align-items: center;
  grid-template-rows: 4rem 1fr 4rem;
  margin-block: 5rem;
}
.background {
  position: absolute;
  z-index: 100;
  height: 100%;
  border-radius: 12px;
  grid-row: 2 / 3;
  background-color: var(--main-bg-color);
  width: 100%;
}
.main-samples-container .content,
h3 {
  font-size: 1rem;
  color: white;
}
.main-samples-container .sample-image-container {
  height: 100%;
}
.sample-image-container img {
  height: 100%;
  max-width: 300px;
  margin-left: auto;
  aspect-ratio: 16 / 9;
  border-radius: 35px;
  object-fit: cover;
}
.content-container {
  grid-row: 1 / -1;
  display: flex;
  height: 100%;
  z-index: 200;
  justify-content: space-between;
  align-items: center;
  /* gap: 10rem; */
}
.content-container > * {
  flex: 1;
}
@media only screen and (max-width: 600px) {
  .main-samples-container {
    grid-template-rows: 1.7fr 3rem 1fr;
  }
  .background {
    grid-row: 1 / 3;
    border-radius: 22px;
  }
  .content-container {
    flex-direction: column;
  }
  .content-container > *:nth-child(1) {
    padding-inline: 1.5rem;
    margin-top: 1.5rem;
  }
  .content-container .content-heading {
    text-align: center;
  }
  .content-container .discover {
    font-weight: 500;
    font-size: 1rem;
  }
  .content {
    font-size: 10px;
  }
  .sample-image-container img {
    max-width: 100%;
    width: 100%;
  }
}
