nav {
  background-color: white;
  position: relative;
}
nav ul {
  position: absolute;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  min-height: 23.5rem;
  justify-content: center;
  align-items: flex-end;
  padding-block: 4rem;
}
nav ul section {
  width: 100%;
}
nav ul li a span {
  color: white;
  font-weight: 600;
}
nav section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
}
.hamburger {
  display: flex;
  gap: 0.4rem;
}
.hamburger > * {
  border-left: 2px solid black;
}
.hamburger .line1 {
  height: 1.25rem;
}
.hamburger .line2 {
  height: 1.9rem;
}
.hamburger .line3 {
  height: 0.71rem;
}
@media only screen and (min-width: 850px) {
  nav ul li a span {
    font-size: clamp(1.5rem, 2vw, 2.3rem);
  }
}
@media only screen and (max-width: 850px) {
  nav ul li a span {
    font-size: 2rem;
  }
  nav ul {
    min-height: 100vh;
    padding-block: 2rem;
  }
  nav ul section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
