.contact-container {
  color: black;
  padding: 5rem 0rem;
  background-color: var(--main-bg-color);
  margin-top: 8rem;
}
.contact {
  margin-inline: auto;
  width: min(1150px, 95%);
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  position: relative;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.5rem;
  column-gap: 4rem;
}
.contact-form input {
  color: black;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  padding: 0.6rem 1.1rem;
  font-size: 0.8rem;
}
.contact-form .location {
  align-self: flex-start;
}
.contact-form input:focus {
  outline: none;
  border-bottom: 1.5px solid rgb(135, 135, 135);
}
.contact-form input:focus::placeholder {
  color: rgb(135, 135, 135);
}
.contact-form input::placeholder {
  color: black;
  font-size: 0.8rem;
}
.contact-form .description {
  grid-column: 1 / -1;
}
.contact-form button {
  background-color: black;
  color: var(--main-bg-color);
  max-width: 143px;
  padding: 0.8rem 0rem;
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}
.contact-form .radio-group label {
  font-size: 14px;
  margin-left: 8px;
}
.radio-button {
  border: 2px solid black;
  background-color: black;
}
@media only screen and (max-width: 900px) {
  .contact {
    grid-template-columns: 1fr;
    padding-inline: 2rem;
  }
  .contact-form {
    grid-template-columns: 1fr;
  }
  .contact-heading {
    text-align: center;
  }
  .contact-summary {
    display: none;
  }
}
