.contact-container {
  color: white;
  padding: 5rem 0rem;
  background-color: var(--main-bg-color);
  margin-top: 8rem;
}
.contact {
  margin-inline: auto;
  width: min(1150px, 95%);
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  position: relative;
  gap: 10rem;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.5rem;
  column-gap: 4rem;
}
.contact-form input {
  color: white;
  background-color: transparent;
  border-bottom: 1.5px solid white;
  padding: 0.6rem 1.1rem;
  font-size: 0.8rem;
}
.contact-form .location {
  align-self: flex-start;
}
.contact-form input:focus {
  outline: none;
  border-bottom: 1.5px solid rgb(184, 184, 184);
}
.contact-form input::placeholder {
  color: white;
  font-size: 0.8rem;
}
.contact-form .description {
  grid-column: 1 / -1;
}
.contact-form button {
  background-color: white;
  color: var(--main-bg-color);
  max-width: 143px;
  padding: 0.8rem 0rem;
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}
.contact-form .radio-group label {
  font-size: 14px;
  margin-left: 8px;
}
.radio-button {
  border: 2px solid black;
  background-color: white;
}
