:root {
  --bar-width: 5vw;
}
.enter-content .right,
.enter-content .left,
.enter-content .top,
.enter-content .bottom {
  position: absolute;
  background-color: white;
  z-index: 999990;
}
.enter-content .right {
  top: 0;
  left: 0;
  width: var(--bar-width);
  height: 100vh;
  background-image: linear-gradient(#a77765, #de9a5d);
  z-index: 999999;
}
.enter-content .left {
  top: 0;
  width: var(--bar-width);
  height: 100vh;
  right: 0;
  background-image: linear-gradient(#a77765, #de9a5d);
  z-index: 999999;
}
.enter-content .top {
  top: 0;
  height: var(--bar-width);
  width: 100vw;
  right: 0;
  background-image: linear-gradient(#a77765, #aa7864);
}
.enter-content .bottom {
  bottom: 0;
  height: var(--bar-width);
  width: 100vw;
  right: 0;
  background-image: linear-gradient(#d4935e, #de9a5d);
}
