.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(1300px, 95%);
  margin-inline: auto;
}
.trending-container {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}
.trending-info h1 {
  line-height: 1;
  margin-top: 0.35rem;
  margin-bottom: 1.3rem;
}
.bottom-container-circle {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.3rem solid var(--main-bg-color);
}
.blog-info .bottom-container-circle {
  height: 3rem;
  width: 3rem;
}
.blog-inner {
  display: grid;
  margin-block: 8.5rem;
  width: min(1100px, 100%);
  gap: 4.9rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
@media only screen and (max-width: 900px) {
  .trending-container {
    flex-direction: column;
    margin-top: 2rem;
  }
  .trending-image {
    max-width: 500px;
  }
}
