.VideosImagesCarousel {
  width: max-content;
  max-width: min(1300px, 90%);
  margin-top: 4rem;
  height: 400px;
  display: flex;
  margin-inline: auto;
  gap: 1.3rem;
}
.videos-image {
  width: 180px;
  height: 100%;
  position: relative;
  background-image: url('https://images.pexels.com/photos/235986/pexels-photo-235986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
}
.videos-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.4);
  -webkit-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.videos-image:hover::after {
  background-color: transparent;
}

.videos-image:nth-child(even) {
  transform: translateY(-30px);
}
.videos-image:nth-child(odd) {
  transform: translateY(30px);
}
.videos-heading {
  font-size: 2.3rem;
  font-weight: 600;
}
