:root {
  --main-bg-color: #a67665;
}
.get-in-touch-container {
  margin-inline: auto;
  width: min(1150px, 95%);
  margin-top: 5rem;
}
.get-in-touch-heading {
  font-weight: 600;
  font-size: 48px;
  margin: 0 0;
}
.get-in-touch-container .main-content {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
@media only screen and (max-width: 900px) {
  .get-in-touch-container .main-content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .get-in-touch-container {
    gap: 0.4rem;
  }
  .get-in-touch-container .main-content .one-of-a-kind-heading {
    text-align: center;
    margin-bottom: 3rem;
  }
  .main-content .social-info-container {
    margin-inline: auto;
    width: max-content;
  }
}
